html,
body {
	height: 100%;
}

html {
	background: linear-gradient(to bottom right, #c2e59c, #64b3f4);
}

body {
	display: grid;
	justify-content: center;
	align-items: center;
}

p {
	margin: 0;
}
#current-weather-details {
	display: grid;
	grid-template-columns: 300px;
	justify-items: center;
	text-align: center;
	background-color: #2c3e50;
	border-radius: 70px;
	padding: 30px;
	color: #fff;
}

#weatherSummary {
	font-size: 1.5em;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.2);
	padding: 10px 10px;
	border-radius: 70px;
}

#currentTemperature {
	font-size: 30px;
	margin-bottom: 20px;
}

#description {
	margin-bottom: 10px;
	font-size: 30px;
}

#getWeather {
	color: #fff;
	padding: 15px 15px;
	background: #3498db;
	border: none;
	border-radius: 70px;
	cursor: pointer;
	opacity: .9;
	transition: all ease-in-out .2s;
}